#Vedanth {
   padding-bottom: 100; 
}

body {
    background-color: aqua;
}

h1 {
    font-family: 'Lucida Sans';
    font-weight: 100;
    font-style: italic;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

.column{
    width: 1;
    padding: 1;
    border-width: 1;
}